@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --breakpoint-3xl: 1600px;
  --breakpoint-4xl: 2000px;
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.5rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.17 0.01 265.75);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.17 0.01 265.75);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.17 0.01 265.75);
  --primary: oklch(0.653 0.269 252.44);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.965 0.005 264.53);
  --secondary-foreground: oklch(0.251 0.015 264.66);
  --muted: oklch(0.965 0.005 264.53);
  --muted-foreground: oklch(0.553 0.016 264.54);
  --accent: oklch(0.965 0.005 264.53);
  --accent-foreground: oklch(0.251 0.015 264.66);
  --destructive: oklch(0.642 0.237 29.23);
  --destructive-foreground: oklch(0.986 0 0);
  --border: oklch(0.911 0.006 264.54);
  --input: oklch(0.911 0.006 264.54);
  --ring: oklch(0.251 0.015 264.66);
  --chart-1: oklch(0.669 0.146 44.87);
  --chart-2: oklch(0.524 0.095 200.31);
  --chart-3: oklch(0.382 0.072 223.36);
  --chart-4: oklch(0.726 0.15 93.66);
  --chart-5: oklch(0.733 0.173 53.08);
  --sidebar-background: oklch(1 0 0);
  --sidebar-foreground: oklch(0.17 0.01 265.75);
  --sidebar-primary: oklch(0.251 0.015 264.66);
  --sidebar-primary-foreground: oklch(0.986 0 0);
  --sidebar-accent: oklch(0.965 0.005 264.53);
  --sidebar-accent-foreground: oklch(0.251 0.015 264.66);
  --sidebar-border: oklch(0.911 0.006 264.54);
  --sidebar-ring: oklch(0.251 0.015 264.66);
}

.dark {
  --background: oklch(0.17 0.01 265.75);
  --foreground: oklch(0.986 0 0);
  --card: oklch(0.17 0.01 265.75);
  --card-foreground: oklch(0.986 0 0);
  --popover: oklch(0.17 0.01 265.75);
  --popover-foreground: oklch(0.986 0 0);
  --primary: oklch(0.653 0.269 252.44);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.245 0.014 264.53);
  --secondary-foreground: oklch(0.986 0 0);
  --muted: oklch(0.245 0.014 264.53);
  --muted-foreground: oklch(0.673 0.013 264.54);
  --accent: oklch(0.245 0.014 264.53);
  --accent-foreground: oklch(0.986 0 0);
  --destructive: oklch(0.421 0.204 29.23);
  --destructive-foreground: oklch(0.986 0 0);
  --border: oklch(0.245 0.014 264.53);
  --input: oklch(0.245 0.014 264.53);
  --ring: oklch(0.851 0.013 264.54);
  --chart-1: oklch(0.593 0.193 252.55);
  --chart-2: oklch(0.569 0.13 175.12);
  --chart-3: oklch(0.639 0.184 79.64);
  --chart-4: oklch(0.685 0.153 301.36);
  --chart-5: oklch(0.663 0.186 11.64);
  --sidebar-background: oklch(0.17 0.01 265.75);
  --sidebar-foreground: oklch(0.986 0 0);
  --sidebar-primary: oklch(0.986 0 0);
  --sidebar-primary-foreground: oklch(0.251 0.015 264.66);
  --sidebar-accent: oklch(0.245 0.014 264.53);
  --sidebar-accent-foreground: oklch(0.986 0 0);
  --sidebar-border: oklch(0.245 0.014 264.53);
  --sidebar-ring: oklch(0.851 0.013 264.54);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  ::selection {
    @apply bg-primary/20 text-primary-foreground;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  a:active,
  button:active {
    @apply opacity-60 md:opacity-100;
  }

  .container {
    @apply mx-auto w-full px-4 md:px-6 lg:px-8;
  }

  .container-wrapper {
    @apply w-full;
  }
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
